.register-form-wrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}